configuration {
  modes: "window,drun,run,ssh";
	font: "JetBrainsMono Nerd Font Regular 8";
	show-icons: true;
	drun-match-fields: "name,generic,exec,categories";
}

@theme "~/.config/rofi/theme.rasi"
