Xft.dpi: 100
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Sxvi.background: black

! colors
*foreground:   #EBDBB2
*background:   #282828
*cursorColor:  #EBDBB2

! black
*color0:       #282828
*color8:       #282828

! red
*color1:       #FB4934
*color9:       #FB4934

! green
*color2:       #B8BB26
*color10:      #B8BB26

! yellow
*color3:       #FABD2F
*color11:      #FABD2F

! blue
*color4:       #83A598
*color12:      #83A598

! magenta
*color5:       #D3869B
*color13:      #D3869B

! cyan
*color6:       #8EC07C
*color14:      #8EC07C

! white
*color7:       #EBDBB2
*color15:      #EBDBB2

